<!DOCTYPE HTML>
<!--
	Identity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{config.site_name}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ base_url }}/css/main.css" />
		<noscript><link rel="stylesheet" href="{{ base_url }}/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="{{ base_url }}/img/avatar.jpg" alt="" /></span>
							<h1>{{ config.site_name }}</h1>
							<p>{{ config.site_description }}</p>
						</header>
						<hr />

						<footer>
							<ul class="icons">
                                {% for key, value in config.extra.social.items() %}
                                <li><a href="{{ value }}" class="icon {% if key == "email"%}fa fa-envelope{% else %}brands fa-{{ key | lower }}{% endif %}"><span class="label">{{ key | capitalize }}</span></a></li>
                                {% endfor %}
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; {{ config.site_name }}</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>
